body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  box-sizing: border-box;
}

.container {
  width: 30%;
  min-height: 50vh;
  /* padding: 10px; */
  /* border-radius: 8px; */
  background: #f0f0f0;
  /* box-shadow: 12px 12px 20px #cbced1, -12px -12px 20px #ffffff; */
  /* overflow: scroll; */
}
.display #screen {
  width: 99%;
  height: 70px;
  font-size: 35px;
  outline: none;
  border: none;
  text-align: right;
  background: #f0f0f0;
}
.btns {
  width: 107%;
  /* margin-top: 1.7em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.btns .row button {
  width: 18.7%;
  height: 5vh;
  font-size: 16px;
  background: #f8f8f8;
  border: 1px solid lightgray;
  /* border: none;
  outline: none; */
  /* margin: 5px; */
  /* border-radius: 4px; */
  /* box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffffff; */
}

.btns #trigo_function button,
.btns #functionButton button {
  width: 18.7%;
  height: 5vh;
  font-size: 16px;
  background: #f8f8f8;
  border: 1px solid lightgray;
  /* width: 17%;
  height: 3vh;
  font-size: 16px;
  border: none;
  outline: none;
  margin: 5px;
  border-radius: 4px;
  background: #bdcbd5;
  box-shadow: 5px 5px 8px #00000020, -5px -5px 8px #ffffff; */
}
.btns .twoButton {
  display: flex !important;
  justify-content: flex-start !important;
}
.row {
  display: flex;
}
.toggledivs {
  width: 96%;
}
.bg-white {
  background-color: white !important;
}
.boldFont {
  font-weight: 800;
  font-size: 18px;
}
